node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
logs
*.log
cache/
artifacts/
.env
Dockerfile
.dockerignore
.git
.gitignore
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.bak
*.tmp
coverage/
*.tsbuildinfo
